extends layout

block head
  link(rel="stylesheet", href="/stylesheets/detail.css")

block content
  h1 Deleting: #{book.title}

  if book_instances.length
    p #[strong Delete the following book instances before attempting to delete this book.]
    
    h4 Book instances
    div.listing
      each instance in book_instances
        div.bg
          a(href=instance.url)
            h5 #{instance.imprint}

  else
    p Do you really want to delete this book?

    form(method='POST' action='')
      div.form-group
        input#bookid(type='hidden',name='bookid', required='true', value=book._id )

      button.btn(type='submit') Delete
