extends layout

block head
  link(rel='stylesheet', href='/stylesheets/list.css')

block content
  h1= title

  ul.list
    each book in book_list
      li.bg
        p #{book.title} - #{book.author.name}
        a(href=book.url title="Check book details")
          i.bi.bi-eye

    else
      li.bg There are no books.
