extends layout

block head
  link(rel='stylesheet', href='/stylesheets/list.css')

block content
  h1= title

  ul.list
    each genre in genre_list
      li.bg
        p #{genre.name}
        a(href=genre.url title="Check genre details")
          i.bi.bi-eye
    else
      li.bg There are no genres.
